body {
  padding-top: 40px;
  padding-bottom: 40px;
 /*  background-color: #eee;
  */
}
.container{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	padding-top:10px;
	 background-image:url("../../images/bg.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}
#warningBox{
	width:300px;
	top:10px;
}
.form-box{
	position:absolute;
	width:400px;
	height:450px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	/* border:1px solid black; */
	background-color:rgba(255,255,255,0.7);
	border-radius:10px;
	overflow:hidden;
}
.form-box .change-status{
	font-size:10px;
	color:white;
	text-align:center;
	width:60px;
	height:50px;
	position:absolute;
	right:0;
	top:0;
	/*background:#CE9756;*/
	transform:translate(2px,2px) rotate(45deg);
	z-index:1;
}
.form-box .change-status a{
	text-decoration:none;
	color:white;
}
.form-box .change-status-bg-box{
	width:0;
	height:0;
	position:absolute;
	right:0;
	top:0;
    border-top: 100px solid #CD995D;
    border-left: 100px solid transparent;
	z-index:0;
	transform:translate(0px,-15px);
}
.img-box{
	width:100px;
	height:100px;
	background-image:url("../../images/logo.webp");
	background-size:cover;
	position:relative;
	margin:auto;
	top:10px;
}
.title-box{
	position:relative;
	width:100%;
	height:40px;
	top:5px;
	text-align:center;
	font-size:18px;
	line-height:40px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}